.sidetab-container {
   max-height: 100vh;
   height: 100%;
   padding:.2em;
   background-color: bisque;
   position: sticky;
   min-width:  fit-content;
   flex-grow: 1;
   flex-basis: 0;
   flex-shrink: 0;
   border:black solid 1px;
   padding:1em;
   margin:1em;
   min-height: 80vh;
   display: flex; 
   flex-direction: column;
   justify-content: space-between;
}

.sidetab-button-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   position: relative;

}


.sidebar-button { 
    height:30px; 
    width:80px;
    margin: 10px;
    position: relative;
 } 

 .qr-button {
   margin-top: auto;
   height:80px;
   width:80px;
   background-image: url("QRIcon.png");
   background-size: contain;
 }