.sidetab-container {
   max-height: 100vh;
   height: 100%;
   padding:.2em;
   background-color: bisque;
   position: sticky;
   min-width:  fit-content;
   flex-grow: 1;
   flex-basis: 0;
   flex-shrink: 0;
}

.sidetab-button-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;

}


.sidebar-button { 
    height:80px; 
    width:80px;
    margin: 10px;
 } 

 .qr-button { 
    background-image: url("QRIcon.png");
    background-size: contain;
 }