.add-product-container {
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#cacaca;
    padding: 1em;
}

input {
    width:10em;
}

.label-input-div {
    padding-bottom:.3em;
    display:flex;
    flex-direction:column;
}

button {
    margin-top:1em;
}